= simple_form_for(membership, method: :post, url: user_group_memberships_path(user_group)) do |f|
          %td= f.input :email_contact, label: false, placeholder: 'annie@example.com'
          %td= f.input :user_label, label: false, placeholder: 'Label for the invited user.'
          %td
          %td= f.input :read_access, label: false, as: :boolean
          %td= f.input :update_access, label: false, as: :boolean
          %td= f.submit 'Add User', class: "btn btn-primary", id: 'membership-submit', data: {id: "#{user_group.id}" }
