= simple_form_for(user_group, method: :post, url: user_groups_path) do |f|
  = f.error_notification
  = f.input :name
  = f.simple_fields_for :user_group_deck do |ugd|
    = ugd.input :deck_id, collection: @deck_select, input_html: { multiple: true, checked: true }, label: "Select what content users will be able to view or update as part of this group:", as: :check_boxes, include_hidden: false
  = f.submit class: "btn btn-primary"

