= simple_form_for(user_group, method: :post, url: user_groups_path) do |f|
  = f.error_notification

  = f.input :name

  = f.simple_fields_for :user_group_deck do |ugd|
    =# ugd.input :deck_id, collection: @deck_string_hash, as: :grouped_select, group_method: :last, group_label_method: :first
    = ugd.input :deck_id, collection: @array, input_html: { multiple: true, checked: true }, label: "Select the decks for users to manage:", as: :check_boxes, include_hidden: false


  = f.submit class: "btn btn-primary"


