.deck-panel
  .deck-info
    .deck-row-one{class: 'row'}
      %h2{class: 'deck-title'}= deck_string.title
      %h4{class: 'deck-category'}= deck_string.deck.category.name
      = render 'shared/stars'
    .deck-row-two
      %h4{class: 'deck-description'}= deck_string.description
      .deck-row-three
        - tags = Tag.collect_tags(deck_string.deck)
        - tag_array = []
        - tags.each do |tag|
          - tag_array << tag.name
        - tag_array.uniq.sort.each do |name|
          %span{class: 'deck-tags badge badge-primary'}= name
  .deck-stats
    %p{class: 'deck-total-cards'} Total Cards
    %p{class: 'deck-question-count'} Total Custom Questions

  .deck-link
    = link_to 'View Deck', deck_path(deck_string.deck, language: deck_string.language), class: 'btn btn-primary'

