%nav{id: 'deck-nav-main', 'data-target'=>'index-scroll.nav', 'data-top-of-nav'=>'' }
  - if user_signed_in?
    %ul
      - if decks_owned.empty?
        %li{id: 'create-deck', 'data-target'=>'deck-create.indexbutton', 'data-action'=>'load@window->deck-create#click click->deck-create#createdeck'    }
          = link_to 'Create Deck', '', data: { target: 'deck-create.indexlink', action: 'click->deck-create#createdeck'}
      - else
        %li{id: 'create-deck', 'data-target'=>'deck-create.indexbutton', 'data-action'=>'click->deck-create#createdeck'}
          = link_to 'Create Deck', '', data: { target: 'deck-create.indexlink', action: 'click->deck-create#createdeck'}
      %li{id: 'all-decks-user', 'data-target'=>'deck-tabs.listall deck-create.listall', 'data-action'=>'click->deck-tabs#tabclick click->deck-create#createdeck' }
        = link_to 'All Decks', '', data: { target: 'deck-tabs.linkall deck-create.linkall', action: 'click->deck-tabs#tabclick click->deck-create#createdeck' }
      %li{id: 'my-decks-user', class: 'active', 'data-target'=>'deck-tabs.listmydecks', 'data-action'=>'click->deck-tabs#tabclick' }
        = link_to 'My Decks', '', data: { target: 'deck-tabs.linkmydecks', action: 'click->deck-tabs#tabclick' }
      %li{id: 'shared-decks-user', 'data-target'=>'deck-tabs.listshared deck-create.listshared', 'data-action'=>'click->deck-tabs#tabclick click->deck-create#createdeck' }
        = link_to 'Shared Decks', '', data: { target: 'deck-tabs.linkshared deck-create.linkshared', action: 'click->deck-tabs#tabclick click->deck-create#createdeck' }
  - else
    %ul
      %li{id: 'all-decks-global', class: 'active', 'data-target'=>'deck-tabs.listall', 'data-action'=>'click->deck-tabs#tabclick' }
        = link_to 'All Decks', '', data: { target: 'deck-tabs.linkall', action: 'click->deck-tabs#tabclick' }
      %li{id: 'my-decks-global', 'data-target'=>'deck-tabs.listmydecks'}
        = link_to 'My Decks', new_user_session_path, data: { target: 'deck-tabs.linkmydecks' }
      %li{id: 'shared-decks-global', 'data-target'=>'deck-tabs.listshared'}
        = link_to 'Shared Decks', new_user_session_path, data: { target: 'deck-tabs.linkshared' }
