= simple_form_for(deck, method: :post, url: decks_path) do |f|
  = f.simple_fields_for :deck_string do |ds|
    = ds.input :language, collection: @languages.map { |key, value| [key, value] }
    = ds.input :title
    = ds.input :description
  = f.input :global_deck_read, label: 'Make this deck of cards accessible to all users?'
  = f.submit class: "btn btn-primary"
