#deck-index{ 'data-controller'=>'index-scroll', 'data-action'=>'scroll@window->index-scroll#fixNav', 'data-target'=>'deck-tabs.indexDiv' }
  #top-bar
    - if user_signed_in?
      %h6 Recently Visited
      #top-decks{'data-target'=>'deck-tabs.topDeckDiv', 'data-status'=>'in'}
        #top-one{'data-target'=>'deck-tabs.topOneDiv'}
        #top-two{'data-target'=>'deck-tabs.topTwoDiv'}
        #top-three{'data-target'=>'deck-tabs.topThreeDiv'}
    - else
      #top-decks{'data-target'=>'deck-tabs.topDeckDiv', 'data-status'=>'out'}
        #top-one{'data-target'=>'deck-tabs.topOneDiv'}
        #top-two{'data-target'=>'deck-tabs.topTwoDiv'}
        #top-three{'data-target'=>'deck-tabs.topThreeDiv'}
    / #rated-one{'data-target'=>'recommended.ratedOne'}
    / #rated-two{'data-target'=>'recommended.ratedTwo'}
    / #rated-three{'data-target'=>'recommended.ratedThree'}
  = render 'shared/deck_nav'
  .deck-tabs
    .col-4#deck-side-panel
      - if user_signed_in?
        = render 'side_panel_radio', decks_owned: @decks_owned
        #deck-create-form{'data-target'=>'deck-create.deckCreateDiv index-scroll.deckCreate', style: 'display: none'}
          #deck-create
            = render 'create_deck_form', deck: @deck, user: @user
        #deck-search-form{'data-target'=>'index-scroll.searchPanel deck-tabs.searchForm deck-create.deckSearchDiv', 'data-con' => controller_name }
          - if controller_name == 'decks'
            #search-side-panel
              = render 'shared/deck_search_form', category: @category, languages: @languages
          - else
            = render 'shared/deck_search_form', category: @category, languages: @languages
      - else
        #deck-search-form.sticky-top{'data-target'=>'index-scroll.searchPanel deck-tabs.searchForm', 'data-con' => controller_name }
          - if controller_name == 'decks'
            #search-side-panel
              = render 'shared/deck_search_form', category: @category, languages: @languages
          - else
            = render 'shared/deck_search_form', category: @category, languages: @languages
    .col-8#deck-list{'data-target'=>'index-scroll.deckList'}
      - if user_signed_in?
        .my-global-decks{'data-target'=>'deck-tabs.globalDiv', style: 'display: none'}
      - else
        .global-decks{'data-target'=>'deck-tabs.globalDiv'}
      .my-decks{'data-target'=>'deck-tabs.myDecksDiv'}

      .my-archived{'data-target'=>'deck-tabs.myArchivedDiv'}

      .shared-read-decks{'data-target'=>'deck-tabs.sharedReadDiv'}

      .shared-update-decks{'data-target'=>'deck-tabs.sharedUpdateDiv'}

