- if user_signed_in?
  %h3 Globally available
  %ul
  - @decks_global_strings.each do |string|
    %li
      = link_to string.title, deck_path(string.deck, language: string.language)

  %h3 Decks owned
  %ul
  - @decks_owned_strings. each do |string|
    %li
      = link_to string.title, deck_path(string.deck, language: string.language)

  %h3 Decks archived
  %ul
  - @decks_archived_strings. each do |string|
    %li
      = link_to string.title, deck_path(string.deck, language: string.language)

  %h3 Shared decks you can view
  %ul
  - @decks_read_strings.each do |string|
    %li
      = link_to string.title, deck_path(string.deck, language: string.language)

  %h3 Shared decks you can view & update
  %ul
  - @decks_update_strings.each do |string|
    %li
      = link_to string.title, deck_path(string.deck, language: string.language)

  = render 'create_deck_form', deck: @deck, user: @user
- else
  %h3 Globally available
  %ul
  - @decks_global_strings.each do |string|
    %li
      = link_to string.title, deck_path(string.deck, language: string.language)

