= render 'deck_strings/deck_string_information', deck_string: @deck_string_info, deck: @deck

%hr
- if user_signed_in?
  - if policy(@deck).update?
    = render 'update_deck_form', deck: @deck, language_options: @language_options, deck_string: @deck_string

  %hr
  - @deck_strings.each do |deck_string|
    %p
    = deck_string.title
    - if policy(deck_string).update?
      = render 'deck_strings/update_deck_string_form', deck_string: deck_string, deck: @deck

  %hr
  #collection-selector{'data-controller' => 'select-collections'}
    // show only collections that belong to the deck
    = render 'collections/collection_select', deck: @deck

    %hr
    - # check if the user has a right to create a collection
    - if policy(@collection).create?
      = render 'collections/create_collection_form', deck: @deck, collection: @collection
