!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FlashCards
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true
  - if user_signed_in? && controller_name == 'decks'
    %body{'data-controller'=>'deck-create deck-tabs'}
  - elsif user_signed_in?
    %body
  - else
    - if controller_name == 'decks'
      %body{'data-controller'=>'deck-tabs'}
    - else
      %body
  = render 'shared/navbar'
  = render 'shared/flashes'
  = yield
